#header{
    background-color: black;
    background-image: url(/img/background_header.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-header-title{
    text-align: center;
    font-size: 66px;
    color: white;
}

#page-header-title span{
    color:var(--green-color);
}


@media screen and (max-width:400px){
    #page-header-title{
        font-size: 30px;
        color: white;
    }
}